venv/
__pycache__/
*.pyc

data.db
*.db

*.log

.secret

backups/

app.py.before*
app.py.backup*

data.db.before*

static.before*
templates.before*


# Cloud WG Panel runtime files
data.db-*
*.db-journal
*.db-wal
*.db-shm
*.py[cod]
logs/
/tmp/
